<div class="container">
  <div class="row justify-content-sm-center" style="margin-top: 10px">
      <div class="col col-sm-3">
        <a href="{{cancel_url}}" class="btn btn-light btn-lg btn-block" role="button" title="Cancel">Cancel</a>
      </div>
      <div class="col-sm-auto">
        &nbsp;
      </div>
      <div class="col col-sm-3">
        <input type="submit" value="{{submit_text}}" class="btn btn-primary btn-lg btn-block" title="{{submit_text}}">
      </div>
    </div>
  </div>
</div>
